.question {
    font-size: 20px;
}

mat-divider {
    margin-top: 10px;
}

mat-divider:last-of-type {
    margin-bottom: 20px;
}

.decision {
    font-size: 20px;
    font-weight: bold;
}

mat-card {
    margin-top: 50px;
}
