button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.nameField {
    width: 300px;
}

.questionField {
    width: 600px;
}

.valueField {
    width: 400px;
    margin-left: 20px;
}

.addNewValue {
    margin-left: 33px;
    width: 400px;
    margin-top: 10px;
}

mat-list-item {
    margin: 0 0 10px 0;
}